.div-clas1{
    border: 1px solid black;
    width: 100%;
    height: 110px;
    background-color: black;
}
.section-clas1{
    border: 1px solid red;
    width: 800PX;
    height: 200px;
    margin-left: 20%;
    margin-top: 50PX;
}
.div1{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;

    background-color:#6C4444;
    
}
.div2{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;
    background-color: #DC9090;
   
}
.div3{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;
    background-color: #711818;
}
.div4{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: left;
    background-color:  #3AA7A7;
    
}
.divi{margin: 20px;
    margin-top: 25px;
}
.section-2{
    width: 800PX;
    height: 200px;
    margin-left:  calc(20% + 40px);
    margin-top: 50PX;

}
.div5{  border: 1px solid black;
    width: 200px;
    height: 200px;
    float: left;

    background-color: #1AB48F;

}
.div6{  border: 1px solid black;
    width: 200px;
    height: 200px;
    float: left;

    background-color: #2A7AC3;

}
.div7{  border: 1px solid black;
    width: 200px;
    height: 200px;
    float: left;
   
    background-color: #DE3A3A;

}
.div{
    margin-left: 32px;
}

.div8{
    border: 1px solid #415B35;
    width: 100%;
    height: 150px;
    background-color: #415B35;
}
.footer{
    margin-top: 50px;
    border: 1px solid #415B35;
    width: 100%;
    height: 100px;
    background-color: #415B35;
}
